@model ASP_ITStep.Models.Shop.ShopGroupPageModel

@if(Model.ProductGroup == null)
{
    <div class="alert alert-danger" role="alert">  Запитанної групи не існує!</div>
}
else
{
    <div class="d-flex overflow-auto flex-nowrap mb-4" style="gap: 10px;">
        @foreach (var g in Model.ProductGroups)
        {
            @Html.DisplayFor(m => g, "ProductGroupSmall")
        }
    </div>

    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 mt-4">
        @foreach (var p in Model.ProductGroup.Products)
        {
            @Html.DisplayFor(m => p)
        }
    </div>
}

